:root {
    --sidebarColor: black;
}


html, body {
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;
    color: white;
    grid-area: content;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../../../images/background_mountain.JPG);
    background-size: cover;
    background-repeat:   no-repeat;
    background-position: 0px 0px; 
    background-attachment: fixed;
}

.item1 {
    background-color: var(--sidebarColor);
    grid-area: advert;
}

.navbar {
    border-right: 2px solid white;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar-img {
    padding-bottom: 10vh;
}

.navbar-img img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.item2 {
    grid-area: content;
    height: 100vh;
    overflow: scroll;
    scrollbar-width: none;  /* Firefox */
}

.item2::-webkit-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    display: none; /* for Chrome, Safari, and Opera */
}

.item3 {
    background-color: var(--sidebarColor);
    grid-area: footer;
}

.copyright {
    display: flex;
    align-items: end;
    justify-content: center;
    height: 100%;
    border-right: 2px solid white;
    
}

/* Change width of sidebar */
.container {
    font-size: 1.5em;
    min-height: 300px;
    width: 100%;
    height: 1vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px auto 1fr auto;
    grid-template-areas:
        "advert"
        "content"
        "footer";
}

.bio-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height:100%;    
    align-items: center;
    justify-content: center;
}

/* .pull_up {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
    transform: rotate(90deg);
} */

.pull_up {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -60px;
    padding-bottom: 50px;
}

.pull_up img {
    filter: invert(100%);
    -webkit-animation: pull-up 1.5s infinite  normal ease-out;
    animation: pull-up 1.5s infinite  normal ease-out;
}

@keyframes pull-up {
    0%{
        width: 40px;
    }

    50% {
        width: 45px;
    }

    100% {
        width: 40px;
    }
}



.profile-img-wrapper {
    justify-self: center;
}

#profile-img {
    border-radius: 50%;
}

.bio-text {
    width: 50%;
    text-align: center;
    font-family: 'Sora',fantasy;
    font-weight: bold;
    color: white;
}

.about-me-wrapper {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
    margin: 0px;
}

.about-me {
    width: 30vw;
    text-align: center;
}

@media (min-width: 300px){
    .container{
        grid-template-columns: 2fr 8fr;
        grid-template-rows: 33.333vh 53.333vh 13.333vh;
        grid-template-areas:
        "advert content"
        "advert content"
        "footer content";
    }
}

@media (min-width: 400px){
    .container{
        grid-template-areas:
        "advert content"
        "advert content"
        "footer content";
    }
}
